.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto;
    width: 70%;
    height: 100px;
    margin-top: 50px;
}


.Container > *{
    display: flex;
    color: rgb(236, 183, 8);
    padding: 5px;
    margin: 5px;
    font-size: 50px;
    box-shadow: inset 0 0 5px whitesmoke;

}

.clock{
    margin-right: 20px;
}
